# ----- Python -----
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# ----- Virtual environments -----
.venv/

# ----- Databases -----
*.db
*.sqlite
*.sqlite3

# ----- Environment & secrets -----
.env
.env.local

# ----- OS metadata -----
.DS_Store
Thumbs.db

# ----- Editors / IDEs -----
.vscode/
.idea/
